# Folders to ignore, whatever the place they are
.metadata
classes/
hybris/bin/**/bin
gensrc/
eclispsebin/
hybris/bin/ext*
hybris/bin/platform

 
# Folders to ignore at the root of the repository
log/
temp/
data/
licenses/
hybris/config/localextensions.xml
hybris/config/tomcat/
hybris/config/solr/
hybris/config/local.properties
hybris/config/licence
build-tools/
installer/
hybris-sbg/
README
c4c-integration/
hybris-Mobile-Apps-SDK/
hybris-ems/
hybris/bin/custom/sapbasket/sapbasketstorefront/web/addonsrc/
hybris/bin/custom/sapbasket/sapbasketstorefront/web/commonwebsrc/
hybris/bin/custom/sapbasket/sapbasketstorefront/web/webroot/*cockpit*
hybris/bin/custom/sapbasket/sapbasketstorefront/web/webroot/*cmscockpit*


# filter only custom extension
bin/*
!bin/custom/

# Absolute path to ignore
/.project
hybris/config/.classpath
hybris/config/.project
hybris/config/customize/dummy.txt
hybris/config/languages/dummy.txt
hybris/config/readme.txt
hybris/config/tcServer/conf/jmxremote.access
hybris/config/tcServer/conf/jmxremote.password
hybris/config/tcServer/conf/server-minimal.xml
hybris/config/tcServer/conf/server.xml
hybris/config/tcServer/conf/web.xml
hybris/config/tcServer/conf/wrapper-minimal.conf
hybris/config/tcServer/conf/wrapper.conf
 
# Filename patterns to ignore
*.class
build.xml
Generated*.java
platformhome.properties
*testclasses.xml
extensioninfo.xsd
*hmc.jar
hmc.xsd
items.xsd
beans.xsd
ruleset.xml
*.log
base.properties
*.swo
*.swp
*.class
*classpath.bak
*.prefs
**/spellerpages/**
**/testclasses/**
*.xsd
**/web/addonsrc/**
**/web/commonwebsrc/**
/.project

#  Addon specific copy folders
**/_ui/addons
**/_ui-src/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
*_bof.jar
*.orig

# For Mac:
*.DS_Store
