.sonar/
sonar-project.properties

/bin/ext-*/
/bin/platform/

/config/
/temp/
/data/
/log/

**/Generated.*java
bin/custom/sapbasket/sapbasketstorefront/web/commonwebsrc/acceleratorstorefrontcommons/de/hybris/platform/acceleratorstorefrontcommons/
**/web/testclasses/
**/jalo/

.project
hybris-dependencies/
hybris/sampleconfigurations/
hybris-oms/
Mobile-Commerce-SDK/
pom.xml


**/bin/**/bin
**/gensrc/
**/items.xsd
**/beans.xsd
**/build.xml
**/classes/
**/extensioninfo.xsd
**/*hmc.jar
**/hmc.xsd
**/platformhome.properties
**/*-testclasses.xml
**/hmc/bin/*
**/eclipsebin/*
**/org.sonarlint.eclipse.core.prefs
/.idea
*.iml
**/ruleset.xml
**/Thumbs.db
/hybris/roles/**/data
/hybris/roles/**/log
/hybris/roles/**/temp
/hybris/roles/**/bootstrap
/hybris/roles/**/lib
/hybris/roles/**/tcServer/conf
**/ignore
**/addons/
**/velocity.log
**/addonsrc
**/web/webroot/cmscockpit/
**/web/webroot/cockpit/
**/ext
